.main{
    height : 800px;
    width : 800px;
    border : 2px solid;
    margin : auto;
}

.box{
    display: flex;
}

.border{
    border: 10px solid;
    padding : 10px;
    width: 813px;
    margin : auto; 
}

.black_box{
    height : 100px;
    background-color: black;
    width : 100px;
}

.white_box{
    height : 100px;
    background-color: powderblue;
    width : 100px;
}
